MONGO_URI=set-mongo-uri-here
JWT_SECRET=jwt_secret
JWT_EXPIRES_IN=jwt_expiration_time
PORT=server_port
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
TICKET_NO_SHOW_MINUTES=5 // Set the number of minutes after which a ticket is considered a no-show
CORS_ORIGIN=http://localhost:5173